body.index_body{
    background-image: url("background.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}
#container_index{
    display: grid;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    grid-template-areas:
      'left right'
      'desc right';
}

/* styling voor de button */
#start_button{
    font-size: 30px;
}

#vote_container{
    grid-area: left;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}

h1.heading{
    font-size: 55px;
}

#desc_container{
    grid-area: 'desc';
    columns: 1/2;
    width: 98%;
}

#party_container{
    height: 98%;
    grid-area: right;
    width: 300px;
}

#check_subject{
    background-color: whitesmoke;
}

.blue{
    background-color: blue !important;
}